img {
  width: 100px;
  height: 100px;
  transition: all 0.5s ease;
}
img:hover {
  width: 200px;
  height: 200px;
}

#colorBox {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  margin-bottom: 10px;
}
  button {
  margin: 5px;
  padding: 8px 15px;
}